/* Center the register form */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    background-color: #ffffff;
}

/* Styling the form box */
.auth-form {
    justify-content: center;
    background: white;
    padding: 3rem;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.auth-form2 {
    background: #fff;
    border: 0px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

/* Style inputs */
.auth-form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form2 p {
    font-size: small;
    display: flex;
    justify-content: center; 
}

.switch-link {
    text-decoration: underline;
    cursor: pointer;
}

/* Center the button */
.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Button hover effect */
.auth-form button:hover {
    background-color: #0056b3;
}
